body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
    color: #e0e0e0;
   
    margin: 0;
    padding: 20px;
}
.authContainer {
    position: absolute; /* Use absolute positioning */
    top: 50%; /* Move the top edge to the middle of the page */
    left: 50%; /* Move the left edge to the middle of the page */
    transform: translate(-50%, -50%);
    background-color: #333;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 100%;
}
label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    color: #bbb;
}
input[type="text"],
input[type="password"] {
    
    width: 100%;
    padding: 0.8rem;
    margin: 2px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    background-color: #444;
    color: #fff;
    box-sizing: border-box;
}
button {
  
    margin-top: 20px;
    padding: 0.8rem;
    background-color: #61dafb;
    border: none;
    border-radius: 4px;
    color: #282c34;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#login,
#signup
{
    width: 100%;
}

p {
    text-align: center;
    margin-top: 1rem;
    color: #bbb;
}

a {
    color: #61dafb;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.table-container {
    max-width: 95%;
    margin: 0 auto;
}

#userTable {
    width: 100%;
    border-collapse: collapse;
    background-color: #000000;
    color: #e0e0e0;
    margin-top: 20px;
    border-left: 1px solid #555;
    border-right: 1px solid #555;
}

.delete-button, .update-button{
    margin: 0;
    padding: 10px;
}
.delete-button i, .update-button i{
font-size: 16px;
vertical-align: middle;
}
#userTable th {
    background-color: #2b2a2a;
    color: #e0e0e0;
    font-weight: normal;
}

#userTable th,
#userTable td {
    border: 1px solid #343434;
    padding: 12px;
    text-align: left;
    border-left: none;
    border-right: none;
    vertical-align: middle;
}

#userTable tbody tr:hover {
    background-color: #555;
    cursor: pointer;
}

#userTable img {
    width: 50px;
    height: auto;
    border-radius: 50%;
    border: 2px solid #82e8ef;
}

h1 {
    text-align: center;
    color: #e0e0e0;
}

label {
    font-size: 20px;
    color: #e0e0e0;
}

input[type="number"],
button {
    font-size: 16px;
    padding: 10px 15px;
    margin-right: 10px;
    border-radius: 25px;
    border: 1px solid #555;
    background-color: #000000;
    color: #e0e0e0;
    outline: none;
}

input[type="number"]:focus,
button:hover {
    border-color: #82e8ef;
    background-color: #4c4c4c;
}

button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #82e8ef;
    color: #000000;
    cursor: pointer;
    /* font-weight: bold; */
}

#paginationControls {
    margin-top: 20px;
}

#pageInfo {
    margin-top: 20px;
}

#paginationControls button {
    font-size: 16px;
    padding: 10px 15px;
    margin: 2px;
    border-radius: 15px;
    border: 1px solid #555;
    background-color: #000000;
    color: #dfdada;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#paginationControls button:hover {
    background-color: #555;
}

#paginationControls button.active {
    border: 3px solid #82e8ef;
    font-weight: bold;
}

#paginationControls button:disabled {
    background-color: #555;
    color: #e0e0e0;
    cursor: not-allowed;
}

.pagination {
    display: flex;
    justify-content: space-between;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

/* Form */
.form-container {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    background-color: #333; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); 
}

.form-container h2 {
    text-align: center;
    color: #e0e0e0;
    margin-bottom: 20px;
    font-size: 24px;
}

.form-container label {
    display: block;
    font-size: 16px;
    color: #e0e0e0;
    margin-bottom: 8px;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="number"],
.form-container select,
.form-container input[type="date"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: #444; 
    color: #e0e0e0;
}

.form-container input[type="date"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: #444; 
}

.form-container input:focus,
.form-container select:focus {
    border-color: #82e8ef; 
    outline: none;
}

/* Submit Button */
.form-container button[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #82e8ef;
    border: none;
    color: #000000;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.form-container button[type="submit"]:hover {
    background-color: #66c3e3;
}

/* Responsive Styling */
@media (max-width: 600px) {
    .form-container {
        padding: 15px;
    }
    
    .form-container h2 {
        font-size: 20px;
    }
    
    .form-container input[type="text"],
    .form-container input[type="email"],
    .form-container input[type="number"],
    .form-container select,
    .form-container input[type="date"],
    .form-container button[type="submit"] {
        font-size: 14px;
        padding: 8px;
    }
}
/* Style for the Delete button */
.delete-button {
    background-color: #e74c3c; /* Red color */
    color: white;
    border: none;
    margin: 5px 5px 5px 5px;
    border-radius: 50%;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

/* Style for the Update button */
.update-button {
    background-color: #3498db; /* Blue color */
    color: white;
    border: none;
    margin: 20px 5px 5px 8px;
    border-radius: 50%;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* transition: background-color 0.3s ease; */
}



.delete-button:hover {
    background-color: #911406; /* Darker red on hover */
}

 .update-button:hover {
    background-color: #084d7a; /* Darker blue on hover */
} 